<p><a href="#/login" class="btn btn-primary">Logout</a></p>
<h4>The VITAL Filtering module provides the means for reducing information associated with indiviudal data streams.
</h4>
<br>

<div>
    <ul ng-show="FilteringData">
        <textarea readonly rows="15" cols="80">{{FilteringData | json}}</textarea>

        <!--<pre>{{DiscovererData | json}}</pre>-->
    </ul>
</div>

<!--<p>You're logged in!!</p>-->
<!--<h3>All registered users:</h3>-->
<!--<ul>-->
    <!--<li ng-repeat="user in vm.allUsers">-->
        <!--{{user.username}} ({{user.firstName}} {{user.lastName}})-->
         <!-- - <a href="#" ng-click="vm.deleteUser(user.id)">Delete</a>-->
    <!--</li>-->
<!--</ul>-->
<!--<p>&nbsp;</p>-->
