<div class="row">
    <div class="col-md-12" style="display: table; width: 100%;">
        <a class="btn btn-default" href="#/security/applications/create" role="button">Add Application</a>
        <br />
        <br />
        <p class="callout callout-danger" style="padding: 15px;" ng-if="getApplicationsError == true">Error {{getApplicationsResponse.data.code}}! {{getApplicationsResponse.data.message}}</p>
        <p class="callout callout-success" style="padding: 15px;" ng-if="response.status == 200">Application "{{deletedApplication}}" successfully deleted!</p>
        <p class="callout callout-danger" style="padding: 15px;" ng-if="response.status == 400 || response.status == 500">Error {{response.data.code}}! {{response.data.message}}</p>
        <div class="box" ng-if="getApplicationsError == false">
            <div class="box-body no-padding">
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>List of Applications (total = {{applications.resultCount}})</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="application in applications.result">
                        <td><a ng-href="#/security/applications/details?name={{application.name}}">{{application.name}}</a></td>
                        <td>
                            <input class="btn btn-default" type="button" value="Delete" ng-click="delApplication(application.name)">
                                <span ng-if="deleting == true && application.name == todelete">&nbsp;<i class="fa fa-refresh fa-spin"></i></span>
                            </input>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="overlay" ng-if="gotApplications == false">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
    </div>
</div>
