<div class="row">
    <div class="col-md-12" style="display: table; width: 100%;">
        <p class="callout callout-warning" style="padding: 15px;" ng-if="isSignedIn() == false">Please log in to change your password.</p>
        <form ng-submit="changePass(data)" ng-if="isSignedIn() == true">
            <div class="form-group">
                <label for="inputCurrPass">Current password</label>
                <input style="color: black;" type="password" class="form-control" ng-model="data.currpass" placeholder="yourcurrentpassword" required>
            </div>
            <div class="form-group">
                <label for="inputUserPass">New password (at least 8 characters)</label>
                <input style="color: black;" type="password" class="form-control" ng-model="data.userpass" placeholder="yournewpassword" pattern=".{8,}" required>
            </div>
            <button type="submit" class="btn btn-primary">
                Change password
                <span ng-if="changing == true">&nbsp;<i class="fa fa-refresh fa-spin"></i></span>
            </button>
        </form>
        <br />
        <p class="callout callout-danger" style="padding: 15px;" ng-if="response.status == 400 || response.status == 500">Error {{response.data.code}}! {{response.data.message}}</p>
        <p class="callout callout-success" style="padding: 15px;" ng-if="response.status == 200">Password successfully changed!</p>
    </div>
</div>
