<div class="row">
    <div class="col-md-12" style="display: table; width: 100%;">
        <p class="callout callout-danger" style="padding: 15px;" ng-if="getGroupsError == true">Error {{getGroupsResponse.data.code}}! {{getGroupsResponse.data.message}}</p>
        <p class="callout callout-danger" style="padding: 15px;" ng-if="getApplicationsError == true">Error {{getApplicationsResponse.data.code}}! {{getApplicationsResponse.data.message}}</p>
        <div class="box" ng-if="gotGroups == false || gotApplications == false" style="visibility: hidden;">
            <div class="box-body no-padding">
                <div>
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
            <div class="overlay" style="visibility: visible; background: none;">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
        <form ng-if="gotGroups == true && gotApplications == true && getGroupsError == false && getApplicationsError == false" ng-submit="addPolicy($parent.data)" ng-init="$parent.tmp.res = null; $parent.data.resources = []">
            <div class="form-group">
                <label for="inputName">Policy name <span style="color: #d30000;">*</span></label>
                <input style="color: black;" type="text" class="form-control" ng-model="$parent.data.name" placeholder="nicepolicy" required>
            </div>
            <div class="form-group">
                <label for="inputDescription">Description</label>
                <input style="color: black;" type="text" class="form-control" ng-model="$parent.data.description" placeholder="Here I describe my policy">
            </div>
            <div class="form-group">
                <label>Application name</label>
                <div class="dropdown" ng-init="$parent.data.appname = defaultApp">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownApplication" data-toggle="dropdown" aria-expanded="true">
                        <span ng-if="$parent.data.appname == null">Choose a specific application</span>
                        <span ng-if="$parent.data.appname != null">{{$parent.data.appname}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownApplication">
                        <li role="presentation">
                            <a style="cursor: pointer;" role="menuitem" tabindex="-1" ng-click="$parent.data.appname = null">Use default application</a>
                        </li>
                        <li role="presentation" ng-repeat="application in applications.result">
                            <a style="cursor: pointer;" role="menuitem" tabindex="-1" ng-click="$parent.data.appname = application.name">{{application.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label for="inputResource">Resource(s) <span style="color: #d30000;">*</span></label>
                <input style="color: black;" type="text" class="form-control" ng-model="$parent.tmp.res" placeholder="http://example.com/resource/*">
            </div>
            <input style="display: inline;" class="btn btn-default" type="button" value="Add" ng-click="addRes($parent.tmp.res)">
            <p class="callout callout-danger" style="display: inline; padding: 15px;" ng-if="nores == true">Please add at least <span style="font-weight: bold;">one</span> resource!</p>
            <p class="callout callout-danger" style="display: inline; padding: 15px;" ng-if="adderr == true">Resource already added!</p>
            <p>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="resource in $parent.data.resources">
                        {{resource}} <input class="btn btn-default" style="margin-left: 20px;" type="button" value="Remove" ng-click="rmRes(resource)">
                    </li>
                </ul>
            </p>
            <div class="form-group">
                <label for="inputGroup">Group(s) to be affected by the policy</label>
                <div class="dropdown" ng-init="$parent.data.groups = []">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownGroups" data-toggle="dropdown" aria-expanded="true">
                    Add group
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownGroups">
                        <li role="presentation" ng-repeat="groupToAdd in groups.result" ng-if="$parent.data.groups.indexOf(groupToAdd) == -1">
                            <a style="cursor: pointer;" role="menuitem" tabindex="-1" ng-click="addGr(groupToAdd)">{{groupToAdd}}</a>
                        </li>
                    </ul>
                </div>
                <p>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="group in $parent.data.groups">
                            {{group}} <input class="btn btn-default" style="margin-left: 20px;" type="button" value="Remove" ng-click="rmGr(group)">
                        </li>
                    </ul>
                </p>
            </div>
            <div ng-repeat="application in applications.result">
                <div ng-if="application.name == $parent.data.appname" class="form-group">
                    <div class="box">
                        <div class="box-body no-padding">
                            <table class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Action</th>
                                <th>Specify</th>
                                <th>Allow</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(action, value) in application.actions">
                                <td>{{action}}</td>
                                <td><input type="checkbox" ng-model="checkbox[action]" ng-change="delAction($parent.$parent.data.actions, action)"></td>
                                <td>
                                    <div ng-if="checkbox[action] == true" class="dropdown" ng-init="$parent.$parent.$parent.data.actions[action] = false">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                                        <span ng-if="$parent.$parent.$parent.data.actions[action] == false">No</span>
                                        <span ng-if="$parent.$parent.$parent.data.actions[action] == true">Yes</span>
                                        <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li role="presentation" ng-if="$parent.$parent.$parent.data.actions[action] == false">
                                                <a style="cursor: pointer;" role="menuitem" tabindex="-1" ng-click="$parent.$parent.$parent.data.actions[action] = true">Yes</a>
                                            </li>
                                            <li role="presentation" ng-if="$parent.$parent.$parent.$parent.data.actions[action] == true">
                                                <a style="cursor: pointer;" role="menuitem" tabindex="-1" ng-click="$parent.$parent.$parent.data.actions[action] = false">No</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="$parent.data.appname == null" class="form-group">
                <div class="box">
                    <div class="box-body no-padding">
                        <table class="table table-hover table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Action</th>
                            <th>Specify</th>
                            <th>Allow</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>DELETE</td>
                            <td><input type="checkbox" ng-model="checkbox.DELETE" ng-change="delAction($parent.data.actions, 'DELETE')"></td>
                            <td>
                                <div ng-if="checkbox.DELETE == true" class="dropdown" ng-init="$parent.$parent.data.actions.DELETE = false">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                                    <span ng-if="$parent.$parent.data.actions.DELETE == false">No</span>
                                    <span ng-if="$parent.$parent.data.actions.DELETE == true">Yes</span>
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="presentation" ng-if="$parent.$parent.data.actions.DELETE == false">
                                            <a style="cursor: pointer;" role="menuitem" tabindex="-1" ng-click="$parent.$parent.data.actions.DELETE = true">Yes</a>
                                        </li>
                                        <li role="presentation" ng-if="$parent.$parent.data.actions.DELETE == true">
                                            <a style="cursor: pointer;" role="menuitem" tabindex="-1" ng-click="$parent.$parent.data.actions.DELETE = false">No</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>GET</td>
                            <td><input type="checkbox" ng-model="checkbox.GET" ng-change="delAction($parent.data.actions, 'GET')"></td>
                            <td>
                                <div ng-if="checkbox.GET == true" class="dropdown" ng-init="$parent.$parent.data.actions.GET = false">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                                    <span ng-if="$parent.$parent.data.actions.GET == false">No</span>
                                    <span ng-if="$parent.$parent.data.actions.GET == true">Yes</span>
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="presentation" ng-if="$parent.$parent.data.actions.GET == false">
                                            <a style="cursor: pointer;" role="menuitem" tabindex="-1" ng-click="$parent.$parent.data.actions.GET = true">Yes</a>
                                        </li>
                                        <li role="presentation" ng-if="$parent.$parent.data.actions.GET == true">
                                            <a style="cursor: pointer;" role="menuitem" tabindex="-1" ng-click="$parent.$parent.data.actions.GET = false">No</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>HEAD</td>
                            <td><input type="checkbox" ng-model="checkbox.HEAD" ng-change="delAction($parent.data.actions, 'HEAD')"></td>
                            <td>
                                <div ng-if="checkbox.HEAD == true" class="dropdown" ng-init="$parent.$parent.data.actions.HEAD = false">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                                    <span ng-if="$parent.$parent.data.actions.HEAD == false">No</span>
                                    <span ng-if="$parent.$parent.data.actions.HEAD == true">Yes</span>
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="presentation" ng-if="$parent.$parent.data.actions.HEAD == false">
                                            <a style="cursor: pointer;" role="menuitem" tabindex="-1" ng-click="$parent.$parent.data.actions.HEAD = true">Yes</a>
                                        </li>
                                        <li role="presentation" ng-if="$parent.$parent.data.actions.HEAD == true">
                                            <a style="cursor: pointer;" role="menuitem" tabindex="-1" ng-click="$parent.$parent.data.actions.HEAD = false">No</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>OPTIONS</td>
                            <td><input type="checkbox" ng-model="checkbox.OPTIONS" ng-change="delAction($parent.data.actions, 'OPTIONS')"></td>
                            <td>
                                <div ng-if="checkbox.OPTIONS == true" class="dropdown" ng-init="$parent.$parent.data.actions.OPTIONS = false">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                                    <span ng-if="$parent.$parent.data.actions.OPTIONS == false">No</span>
                                    <span ng-if="$parent.$parent.data.actions.OPTIONS == true">Yes</span>
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="presentation" ng-if="$parent.$parent.data.actions.OPTIONS == false">
                                            <a style="cursor: pointer;" role="menuitem" tabindex="-1" ng-click="$parent.$parent.data.actions.OPTIONS = true">Yes</a>
                                        </li>
                                        <li role="presentation" ng-if="$parent.$parent.data.actions.OPTIONS == true">
                                            <a style="cursor: pointer;" role="menuitem" tabindex="-1" ng-click="$parent.$parent.data.actions.OPTIONS = false">No</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>PATCH</td>
                            <td><input type="checkbox" ng-model="checkbox.PATCH" ng-change="delAction($parent.data.actions, 'PATCH')"></td>
                            <td>
                                <div ng-if="checkbox.PATCH == true" class="dropdown" ng-init="$parent.$parent.data.actions.PATCH = false">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                                    <span ng-if="$parent.$parent.data.actions.PATCH == false">No</span>
                                    <span ng-if="$parent.$parent.data.actions.PATCH == true">Yes</span>
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="presentation" ng-if="$parent.$parent.data.actions.PATCH == false">
                                            <a style="cursor: pointer;" role="menuitem" tabindex="-1" ng-click="$parent.$parent.data.actions.PATCH = true">Yes</a>
                                        </li>
                                        <li role="presentation" ng-if="$parent.$parent.data.actions.PATCH == true">
                                            <a style="cursor: pointer;" role="menuitem" tabindex="-1" ng-click="$parent.$parent.data.actions.PATCH = false">No</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>POST</td>
                            <td><input type="checkbox" ng-model="checkbox.POST" ng-change="delAction($parent.data.actions, 'POST')"></td>
                            <td>
                                <div ng-if="checkbox.POST == true" class="dropdown" ng-init="$parent.$parent.data.actions.POST = false">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                                    <span ng-if="$parent.$parent.data.actions.POST == false">No</span>
                                    <span ng-if="$parent.$parent.data.actions.POST == true">Yes</span>
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="presentation" ng-if="$parent.$parent.data.actions.POST == false">
                                            <a style="cursor: pointer;" role="menuitem" tabindex="-1" ng-click="$parent.$parent.data.actions.POST = true">Yes</a>
                                        </li>
                                        <li role="presentation" ng-if="$parent.$parent.data.actions.POST == true">
                                            <a style="cursor: pointer;" role="menuitem" tabindex="-1" ng-click="$parent.$parent.data.actions.POST = false">No</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>PUT</td>
                            <td><input type="checkbox" ng-model="checkbox.PUT" ng-change="delAction($parent.data.actions, 'PUT')"></td>
                            <td>
                                <div ng-if="checkbox.PUT == true" class="dropdown" ng-init="$parent.$parent.data.actions.PUT = false">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                                    <span ng-if="$parent.$parent.data.actions.PUT == false">No</span>
                                    <span ng-if="$parent.$parent.data.actions.PUT == true">Yes</span>
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="presentation" ng-if="$parent.$parent.data.actions.PUT == false">
                                            <a style="cursor: pointer;" role="menuitem" tabindex="-1" ng-click="$parent.$parent.data.actions.PUT = true">Yes</a>
                                        </li>
                                        <li role="presentation" ng-if="$parent.$parent.data.actions.PUT == true">
                                            <a style="cursor: pointer;" role="menuitem" tabindex="-1" ng-click="$parent.$parent.data.actions.PUT = false">No</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                Create Policy
                <span ng-if="creating == true">&nbsp;<i class="fa fa-refresh fa-spin"></i></span>
            </button>
        </form>
        <br />
        <p class="callout callout-success" style="padding: 15px;" ng-if="response.status == 200">New policy "{{createdPolicy}}" successfully created!</p>
        <p class="callout callout-danger" style="padding: 15px;" ng-if="response.status == 400 || response.status == 500">Error {{response.data.code}}! {{response.data.message}}</p>
        <p ng-if="gotGroups == true && gotApplications == true && getGroupsError == false && getApplicationsError == false" class="callout callout-info" style="padding: 15px;">
            <span style="color: #d30000;">*</span> Mandatory
        </p>
    </div>
</div>

