<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Trust: Edit SLA Parameter Thresholds</h3>
            </div>
            <div class="box-body">
                <form name="trustManagerForm" novalidate="novalidate" ng-submit="tCtrl.submit(trustManagerForm)">
                    <div class="list-group">
                        <div class="list-group-item" ng-repeat="system in tCtrl.systemList">
                            <div>
                                <h4>{{system['http://www.w3.org/2000/01/rdf-schema#label']}}</h4>
                                <p>{{system['http://www.w3.org/2000/01/rdf-schema#comment']}}</p>
                            </div>

                            <!-- Grid -->
                            <div>
                                <div class="row">
                                    <div class="col-md-6">SLA Parameter</div>
                                    <div class="col-md-2">Up Threshold</div>
                                    <div class="col-md-2">Down Threshold</div>
                                    <div class="col-md-2">Address</div>
                                </div>
                                <div class="row" ng-repeat="slaParam in tCtrl.slaParameterList">
                                    <div class="col-md-6">
                                        {{slaParam}}
                                    </div>
                                    <div class="col-md-2">
                                        <input type="number" name="{{slaParam}}-upthreshold" class="form-control"
                                               ng-model="tCtrl.trustManager[system.id].sla_params[slaParam].upthreshold"/>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="number" name="{{slaParam}}-downthreshold" class="form-control"
                                               ng-model="tCtrl.trustManager[system.id].sla_params[slaParam].downthreshold"/>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="number" name="{{slaParam}}-address" class="form-control"
                                               ng-model="tCtrl.trustManager[system.id].sla_params[slaParam].address"/>
                                    </div>
                                </div>
                            </div>
                            <!-- end: Grid -->
                        </div>
                    </div>

                    <div>
                        <div class="btn-group pull-right">
                            <button class="btn btn-success" type="submit">
                                <i class="fa fa-play"></i> Start Monitoring
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
