<div>
    <h2>Edit IoT system</h2>

    <form name="registerSystemForm" novalidate autocomplete="off"
          ng-submit="regCtrl.submit(registerSystemForm)">


        <div class="form-group" ng-class="{'has-error': registerSystemForm.name.$invalid}">
            <label for="name">Name </label>
            <input id="name" name="name" type="text" class="form-control"
                   ng-model="regCtrl.system.name" ng-required="true"/>
        </div>

        <div class="form-group" ng-class="{'has-error': registerSystemForm.uri.$invalid}">
            <label for="uri">URI </label>
            <input id="uri" name="uri" type="text" class="form-control"
                   ng-model="regCtrl.system.uri" ng-required="true"/>
        </div>

        <div class="form-group" ng-class="{'has-error': registerSystemForm.ppi.$invalid}">
            <label for="ppi">PPI </label>
            <input id="ppi" name="ppi" type="url" class="form-control"
                   ng-model="regCtrl.system.ppi" ng-required="true"/>
        </div>

        <div class="form-group" ng-class="{'has-error': registerSystemForm.refreshPeriod.$invalid}">
            <label for="refreshPeriod">REFRESH PERIOD (IN MINUTES) </label>
            <input id="refreshPeriod" name="refreshPeriod" type="number" class="form-control"
                   ng-model="regCtrl.system.refreshPeriod" ng-required="true"/>
        </div>

        <div class="form-group" ng-class="{'has-error': registerSystemForm.refreshPeriod.$invalid}">
            <label>
                <input id="enabled" name="enabled" type="checkbox" ng-model="regCtrl.system.enabled"/>
                Enabled
            </label>
        </div>


        <div class="form-group">
            <label>
                <input id="requiresBasicAuth" name="requiresBasicAuth" type="checkbox" ng-model="regCtrl.requiresBasicAuth"/>
                Requires basic authentication
            </label>
        </div>

        <div ng-if="regCtrl.requiresBasicAuth">

            <div class="form-group" ng-class="{'has-error': registerSystemForm.username.$invalid}">
                <label for="username">Username </label>
                <input id="username" name="username" type="text" class="form-control"
                       ng-model="regCtrl.system.authenticationInfo.username"
                       ng-required="true"/>
            </div>

            <div class="form-group" ng-class="{'has-error': registerSystemForm.password.$invalid}">
                <label for="password">Password </label>
                <input id="password" name="password" type="password" class="form-control"
                       ng-model="regCtrl.system.authenticationInfo.password"
                       ng-required="true"/>
            </div>

        </div>


        <div>
            <button type="submit" name="saveButton" class="btn btn-success">
                <i class="fa fa-save"></i> Save
            </button>

            <a ng-href="#/governance/registry/list" name="cancelButton" class="btn btn-default">
                <i class="fa fa-backward"></i> Cancel
            </a>
        </div>
    </form>
</div>
