<!DOCTYPE html>
<html ng-app="main">
<head>
    <meta charset="UTF-8">
    <title>VITAL | Management Platform</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <link rel="icon" href="vital-favicon.png">

    <!-- bower:css -->
    <!-- endbower -->

    <!-- injector:css -->
    <!-- endinjector -->

    <!-- bower:js -->
    <!-- endbower -->

    <!-- injector:js -->
    <!-- endinjector -->

</head>

<body class="hold-transition skin-black sidebar-mini" ng-controller="MainController">
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a href="#" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>V</b> IoT</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>VITAL-IoT</b> Management</span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account -->
                    <li class="dropdown user user-menu" ng-if="isAuthenticated()">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>
                            <span>{{loggedOnUser.uid}} <i class="caret"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header text-light-blue">
                                <img ng-src="{{loggedOnUser.avatar}}" class="img-circle" alt="User Image"/>
                                <p>
                                    {{loggedOnUser.fullname}}
                                    <small ng-if="loggedOnUser.creation != false">Registered since {{loggedOnUser.creation.day}} {{loggedOnUser.creation.month}} {{loggedOnUser.creation.year}}</small>
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a class="btn btn-default btn-flat" href="#/security/users/details?name={{loggedOnUser.uid}}">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a class="btn btn-default btn-flat" ng-click="logout()">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- end: User Account -->
                </ul>
            </div>
        </nav>
    </header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel" ng-if="isAuthenticated()">
                <div class="pull-left image">
                    <img ng-src="{{loggedOnUser.avatar}}" class="img-circle" alt="User Image"/>
                </div>
                <div class="pull-left info">
                    <p>Hello, {{loggedOnUser.name}}</p>
                    <p>
                        <span style="font-size: smaller;"><i class="fa fa-circle text-success"></i> Online</span>
                    </p>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" ng-if="isAuthenticated()">
                <li>
                    <a href="#/system/list">
                        <i class="fa fa-dashboard"></i>
                        <span>Vital Systems</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="">
                        <i class="fa fa-bullseye"></i>
                        <span>ICOs/Sensors</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="#/sensor/list">
                                <i class="fa fa-list"></i>
                                <span>List</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/sensor/map">
                                <i class="fa fa-map-marker"></i>
                                <span>Map</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="">
                        <i class="fa fa-lock"></i>
                        <span>Security</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="#/security/users">
                                <i class="fa fa-circle-o"></i>
                                <span>Users</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/security/groups">
                                <i class="fa fa-circle-o"></i>
                                <span>Groups</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/security/policies">
                                <i class="fa fa-circle-o"></i>
                                <span>Policies</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/security/applications">
                                <i class="fa fa-circle-o"></i>
                                <span>Applications</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/security/monitor">
                                <i class="fa fa-circle-o"></i>
                                <span>Monitor</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/security/access">
                                <i class="fa fa-circle-o"></i>
                                <span>Access test</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="">
                        <i class="fa fa-lock"></i>
                        <span>Utility</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="#/query">
                                <i class="fa fa-circle-o"></i>
                                <span>Query Data</span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                {{title}}
                <small>{{subtitle}}</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a ng-href="#">
                        <i class="fa fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="active" ng-if="title != ''"><a ng-href="{{titlelink}}">{{title}}</a></li>
            </ol>
        </section>
        <div class="container-fluid" style="margin: 0px; padding: 0px; border: 0px;">
            <section class="content" style="height: auto; overflow: auto;" ng-view>Loading...</section>
        </div>
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0
        </div>
    </footer>
</div>
<!-- ./wrapper -->

</body>
</html>
