<div class="row">
    <div class="col-xs-12">
        <form name="sensorSearchForm" novalidate autocomplete="off"
              ng-submit="search.submit(sensorSearchForm)">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group" ng-class="{'has-error': queryForm.label.$invalid}">
                            <label for="label">Name </label>
                            <input id="label" name="label" type="text" class="form-control" ng-model="search.label"/>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-class="{'has-error': queryForm.query.$invalid}">
                            <label for="comment">Description </label>
                            <input id="comment" name="comment" type="text" class="form-control" ng-model="search.comment"/>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-class="{'has-error': queryForm.query.$invalid}">
                            <label>Status </label>
                            <input id="status" name="status" type="text" class="form-control" ng-model="search.status"/>

                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" name="clearButton" class="btn btn-default" ng-click="search.clear()">
                        <i class="fa fa-undo"></i> Clear
                    </button>
                    <button type="submit" name="searchButton" class="btn btn-success">
                        <i class="fa fa-filter"></i> Filter
                    </button>
                </div>
            </div>
        </form>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name <i uib-tooltip="http://www.w3.org/2000/01/rdf-schema#label" class="fa fa-question-circle"></i></th>
                <th>Description <i uib-tooltip="http://www.w3.org/2000/01/rdf-schema#comment" class="fa fa-question-circle"></i></th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="table-hover">
            <tr ng-repeat="sensor in sensors track by sensor['@id']">
                <td>{{$index + 1}}</td>
                <td>
                    {{sensor['http://www.w3.org/2000/01/rdf-schema#label'] || sensor['rdfs:label']}}
                </td>
                <td>
                    {{sensor['http://www.w3.org/2000/01/rdf-schema#comment'] || sensor['rdfs:comment']}}
                </td>
                <td>
                    <span class="badge bg-green" ng-class="{
                        'bg-orange' : sensor['http://vital-iot.eu/ontology/ns/status']['@id'] !== 'http://vital-iot.eu/ontology/ns/Running'}">
                    {{sensor['http://vital-iot.eu/ontology/ns/status']['@id']  | statusDisplay}}
                    </span>
                </td>
                <td>
                    <a class="btn" ng-href="#/sensor/view/{{sensor['@id'] | encodeHistoryComponent}}">
                        <i class="fa fa-eye"></i> View
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <hr/>
    </div>
</div>
