<div class="row">
    <div class="col-md-12" style="display: table; width: 100%;">
        <a class="btn btn-default" href="#/security/groups/create" role="button">Add Group</a>
        <br />
        <br />
        <p class="callout callout-danger" style="padding: 15px;" ng-if="getGroupsError == true">Error {{getGroupsResponse.data.code}}! {{getGroupsResponse.data.message}}</p>
        <p class="callout callout-success" style="padding: 15px;" ng-if="response.status == 200">Group "{{deletedGroup}}" successfully deleted!</p>
        <p class="callout callout-danger" style="padding: 15px;" ng-if="response.status == 400  || response.status == 500">Error {{response.data.code}}! {{response.data.message}}</p>
        <div class="box" ng-if="getGroupsError == false">
            <div class="box-body no-padding">
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>List of Groups (total = {{groups.resultCount}})</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="group in groups.result">
                        <td><a ng-href="#/security/groups/details?name={{group}}">{{group}}</a></td>
                        <td>
                            <input class="btn btn-default" type="button" value="Delete" ng-click="delGroup(group)">
                                <span ng-if="deleting == true && group == todelete">&nbsp;<i class="fa fa-refresh fa-spin"></i></span>
                            </input>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="overlay" ng-if="gotGroups == false">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
    </div>
</div>
 
