<div class="row">
    <div class="col-md-12" style="display: table; width: 100%;">
        <a class="btn btn-default" href="#/security/users/create" role="button">Add User</a>
        <br />
        <br />
        <p class="callout callout-danger" style="padding: 15px;" ng-if="getUsersError == true">Error {{getUsersResponse.data.code}}! {{getUsersResponse.data.message}}</p>
        <p class="callout callout-success" style="padding: 15px;" ng-if="response.status == 200">User "{{deletedUser}}" successfully deleted!</p>
        <p class="callout callout-danger" style="padding: 15px;" ng-if="response.status == 400 || response.status == 500">Error {{response.data.code}}! {{response.data.message}}</p>
        <div class="box" ng-if="getUsersError == false">
            <div class="box-body no-padding">
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>List of Users (total = {{users.resultCount}})</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users.result">
                        <td><a ng-href="#/security/users/details?name={{user}}">{{user}}</a></td>
                        <td>
                            <input class="btn btn-default" type="button" value="Delete" ng-click="delUser(user)">
                                <span ng-if="deleting == true && user == todelete">&nbsp;<i class="fa fa-refresh fa-spin"></i></span>
                            </input>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="overlay" ng-if="gotUsers == false">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
    </div>
</div>
