<div class="row">
    <div class="col-md-12" style="display: table; width: 100%;">
        <p class="callout callout-danger" style="padding: 15px;" ng-if="wrongpars == true">No policy correctly specified!</p>
        <p class="callout callout-danger" style="padding: 15px;" ng-if="getPolicyError == true">Error {{getPolicyResponse.data.code}}! {{getPolicyResponse.data.message}}</p>
        <form ng-if="wrongpars == false && getPolicyError == false" ng-submit="updPolicy(info)">
            <p ng-if="gotPolicy == true">
                <input ng-if="edit == false" class="btn btn-default" type="button" value="Edit details" ng-click="enableEdit()">
                <button ng-if="edit == true" type="submit" class="btn btn-primary">
                    Save
                    <span ng-if="saving == true">&nbsp;<i class="fa fa-refresh fa-spin"></i></span>
                </button>
                <input ng-if="edit == true" class="btn btn-default" type="button" value="Cancel" ng-click="disableEdit()">
            </p>
            <div ng-if="msgEvent == 'update'">
                <p class="callout callout-success" style="padding: 15px;" ng-if="response.status == 200">Successfully updated policy details!</p>
                <p class="callout callout-danger" style="padding: 15px;" ng-if="response.status == 400 || response.status == 500">Error {{response.data.code}}! {{response.data.message}}</p>
            </div>
            <div class="box">
                <div class="box-body no-padding">
                    <table class="table table-hover table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Application</th>
                            <th>Description</th>
                            <th>Active</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                {{policy.name}}
                            </td>
                            <td>
                                <a ng-href="#/security/applications/details?name={{policy.applicationName}}">{{policy.applicationName}}</a>
                            </td>
                            <td>
                                <span ng-if="edit == false">{{policy.description}}</span>
                                <input ng-if="edit == true" style="color: black;" type="text" class="form-control" ng-model="$parent.info.description" ng-init="$parent.info.description = policy.description">
                            </td>
                            <td>
                                <span ng-if="edit == false">{{policy.active}}</span>
                                <div ng-if="edit == true" class="dropdown" ng-init="$parent.info.active = policy.active">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownActive" data-toggle="dropdown" aria-expanded="true">
                                    {{$parent.info.active}}
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownActive">
                                        <li role="presentation" ng-if="$parent.info.active == false">
                                            <a style="cursor: pointer;" role="menuitem" tabindex="-1" ng-click="$parent.info.active = true">true</a>
                                        </li>
                                        <li role="presentation" ng-if="$parent.info.active == true">
                                            <a style="cursor: pointer;" role="menuitem" tabindex="-1" ng-click="$parent.info.active = false">false</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="overlay" ng-if="gotPolicy == false">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </form>
        <p class="callout callout-danger" style="padding: 15px;" ng-if="gotGroups == true && getGroupsError == true">
            Error {{getGroupsResponse.data.code}}! {{getGroupsResponse.data.message}}
        </p>
        <div ng-if="gotPolicy == true && getGroupsError == false && getPolicyError == false && policy.subject.type == 'Identity'">
            <p class="callout callout-info" style="padding: 15px;" ng-if="wrongpars == false && gotGroups && policyGroups.length == 0">
                The policy affects no group.
            </p>
            <div ng-if="wrongpars == false && gotGroups == true" class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownPolicyGroup" data-toggle="dropdown" aria-expanded="true">
                    Add group
                    <span class="caret"></span>
                    <span ng-if="addingGr == true">&nbsp;<i class="fa fa-refresh fa-spin"></i></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownPolicyGroup">
                    <li role="presentation" ng-repeat="groupToAdd in groups.result" ng-if="policyGroups.indexOf(groupToAdd) == -1">
                        <a style="cursor: pointer;" role="menuitem" tabindex="-1" ng-click="addGr(groupToAdd)">{{groupToAdd}}</a>
                    </li>
                </ul>
            </div>
            <br />
            <div ng-if="msgEvent == 'addGroup'">
                <p class="callout callout-success" style="padding: 15px;" ng-if="response.status == 200">Successfully authorized group "{{addedGroup}}"!</p>
                <p class="callout callout-danger" style="padding: 15px;" ng-if="response.status == 400 || response.status == 500">Error {{response.data.code}}! {{response.data.message}}</p>
            </div>
            <div ng-if="msgEvent == 'deleteGroup'">
                <p class="callout callout-success" style="padding: 15px;" ng-if="response.status == 200">Successfully removed authorization from group "{{deletedGroup}}"!</p>
                <p class="callout callout-danger" style="padding: 15px;" ng-if="response.status == 400 || response.status == 500">Error {{response.data.code}}! {{response.data.message}}</p>
            </div>
            <div class="box" ng-if="(wrongpars == false && policy.subject.type == 'Identity' && policyGroups.length > 0) || gotGroups == false">
                <div class="box-body no-padding">
                    <table class="table table-hover table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Affected groups</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="group in policyGroups">
                            <td><a ng-href="#/security/groups/details?name={{group}}">{{group}}</a></td>
                            <td>
                                <input class="btn btn-default" type="button" value="Remove from policy" ng-click="rmGr(group)">
                                <span ng-if="removingGr == true && toremoveGr == group">&nbsp;<i class="fa fa-refresh fa-spin"></i></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="overlay" ng-if="gotGroups == false">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>
        <div ng-if="gotPolicy == true && getPolicyError == false">
            <p class="callout callout-info" style="padding: 15px;" ng-if="wrongpars == false && policy.resources.length == 0">No resource protected.</p>
            <div ng-if="wrongpars == false" ng-init="$parent.$parent.tmp.res = null">
                <input style="color: black; display: inline; width: 50%;" type="text" class="form-control" ng-model="$parent.$parent.$parent.tmp.res" placeholder="http://example.com/resource/*">
                <input style="display: inline;" class="btn btn-default" type="button" value="Add resource" ng-click="addRes($parent.$parent.$parent.tmp.res)">
                <span ng-if="addingRes == true">&nbsp;<i class="fa fa-refresh fa-spin"></i></span>
            </div>
            <p class="callout callout-danger" style="padding: 15px; margin: 0px; margin-top: 5px;" ng-if="duplicate == true">Resource already added!</p>
            <p class="callout callout-danger" style="padding: 15px; margin: 0px; margin-top: 5px;" ng-if="lastone == true">Last resource left, cannot delete!</p>
            <br />
            <div ng-if="msgEvent == 'addResource'">
                <p class="callout callout-success" style="padding: 15px;" ng-if="response.status == 200">Successfully added resource "{{addedResource}}"!</p>
                <p class="callout callout-danger" style="padding: 15px;" ng-if="response.status == 400 || response.status == 500">Error {{response.data.code}}! {{response.data.message}}</p>
            </div>
            <div ng-if="msgEvent == 'deleteResource'">
                <p class="callout callout-success" style="padding: 15px;" ng-if="response.status == 200">Successfully removed resource "{{deletedResource}}"!</p>
                <p class="callout callout-danger" style="padding: 15px;" ng-if="response.status == 400 || response.status == 500">Error {{response.data.code}}! {{response.data.message}}</p>
            </div>
            <div class="box" ng-if="wrongpars == false && policy.resources.length > 0">
                <div class="box-body no-padding">
                    <table class="table table-hover table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Resources</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="resource in policy.resources">
                            <td>{{resource}}</td>
                            <td>
                                <input class="btn btn-default" type="button" value="Remove resource" ng-click="rmRes(resource)">
                                <span ng-if="removingRes == true && toremoveRes == resource">&nbsp;<i class="fa fa-refresh fa-spin"></i></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <form ng-if="wrongpars == false && gotPolicy == true && getPolicyError == false" ng-submit="updActions(actions)">
            <p>
                <input ng-if="actionsEdit == false" class="btn btn-default" type="button" value="Edit actions" ng-click="enableActionsEdit()">
                <button ng-if="actionsEdit == true" type="submit" class="btn btn-primary">
                    Save
                    <span ng-if="savingAct == true">&nbsp;<i class="fa fa-refresh fa-spin"></i></span>
                </button>
                <input ng-if="actionsEdit == true" class="btn btn-default" type="button" value="Cancel" ng-click="disableActionsEdit()">
            </p>
            <div ng-if="msgEvent == 'actionsUpdate'">
                <p class="callout callout-success" style="padding: 15px;" ng-if="response.status == 200">Successfully updated policy actions!</p>
                <p class="callout callout-danger" style="padding: 15px;" ng-if="response.status == 400 || response.status == 500">Error {{response.data.code}}! {{response.data.message}}</p>
            </div>
            <div class="form-group">
                <div class="box">
                    <div class="box-body no-padding">
                        <table class="table table-hover table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Action</th>
                            <th>Specify</th>
                            <th>Allow</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(action, value) in application.actions">
                            <td>{{action}}</td>
                            <td>
                                <input type="checkbox" ng-if="actionsEdit == true" ng-model="$parent.checkbox[action]" ng-init="$parent.checkbox[action] = poldefined[action]" ng-change="delAction($parent.$parent.$parent.actions, action)">
                                <input type="checkbox" ng-if="actionsEdit == false" ng-model="$parent.checkbox[action]" ng-init="$parent.checkbox[action] = poldefined[action]" disabled>
                            </td>
                            <td>
                                <div ng-if="checkbox[action] == true && actionsEdit == true" class="dropdown" ng-init="$parent.$parent.$parent.actions[action] = policy.actionValues[action]">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                                    <span ng-if="$parent.$parent.$parent.actions[action] == false">No</span>
                                    <span ng-if="$parent.$parent.$parent.actions[action] == true">Yes</span>
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="presentation" ng-if="$parent.$parent.$parent.actions[action] == false">
                                            <a style="cursor: pointer;" role="menuitem" tabindex="-1" ng-click="$parent.$parent.$parent.actions[action] = true">Yes</a>
                                        </li>
                                        <li role="presentation" ng-if="$parent.$parent.$parent.actions[action] == true">
                                            <a style="cursor: pointer;" role="menuitem" tabindex="-1" ng-click="$parent.$parent.$parent.actions[action] = false">No</a>
                                        </li>
                                    </ul>
                                </div>
                                <div ng-if="checkbox[action] == true && actionsEdit == false">
                                    <span ng-if="policy.actionValues[action] == false">No</span>
                                    <span ng-if="policy.actionValues[action] == true">Yes</span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

