<div class="row">
    <div class="col-md-12" style="display: table; width: 100%;">
        <div class="box" ng-if="gotId == false" style="visibility: hidden;">
            <div class="box-body no-padding">
                <div>
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
            <div class="overlay" style="visibility: visible; background: none;">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
        <form ng-submit="login(data)" ng-if="loggedIn == false && gotId == true">
            <div class="form-group">
                <label for="inputUsername">Username</label>
                <input style="color: black;" type="text" class="form-control" ng-model="data.name" placeholder="yourusername" required>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input style="color: black;" type="password" class="form-control" ng-model="data.password" placeholder="yourpassword" required>
            </div>
            <button type="submit" class="btn btn-primary">
                Log in
                <span ng-if="loginLoading == true">&nbsp;<i class="fa fa-refresh fa-spin"></i></span>
            </button>
        </form>
        <br />
        <div class="callout callout-success" style="padding: 15px;" ng-if="loggedIn == true">
            <p>
                User "{{username}}" is now logged in
                <span class="glyphicon glyphicon-arrow-right"></span>
                <input class="btn btn-default" type="button" value="Log out" ng-click="logout()">
                <span ng-if="logoutLoading == true">&nbsp;<i class="fa fa-refresh fa-spin"></i></span>
            </p>
        </div>
        <p class="callout callout-danger" style="padding: 15px;" ng-if="response.status == 400 || response.status == 500">Error {{response.data.code}}! {{response.data.message}}</p>
        <div class="box" ng-if="loggedIn == true && gotPermissions == true">
            <div class="box-header with-border">
                <h3 class="box-title">Data access control</h3>
            </div>
            <div class="box-body no-padding">
                <table ng-if="salen != 0 || sdlen != 0" class="table table-hover table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Field</th>
                        <th>Value</th>
                        <th>Allowed</th>
                    </tr>
                    <tr><th colspan="3"></th></tr>
                    <tr><th colspan="3">STORE</th></tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(attribute, valuelist) in permissions.store.allowed">
                        <td>{{attribute}}</td>
                        <td>
                            <table>
                                <thead style="visibility: hidden;">
                                    <tr>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="value in valuelist">
                                        <td>{{value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>Yes</td>
                    </tr>
                    <tr ng-repeat="(attribute, valuelist) in permissions.store.denied">
                        <td>{{attribute}}</td>
                        <td>
                            <table>
                                <thead style="visibility: hidden;">
                                    <tr>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="value in valuelist">
                                        <td>{{value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>No</td>
                    </tr>
                    </tbody>
                </table>
                <table ng-if="ralen != 0 || rdlen != 0" class="table table-hover table-striped table-bordered">
                    <thead>
                    <tr style="visibility: collapse;" ng-if="salen != 0 || sdlen != 0">
                        <th>Field</th>
                        <th>Value</th>
                        <th>Allowed</th>
                    </tr>
                    <tr ng-if="salen == 0 && sdlen == 0">
                        <th>Field</th>
                        <th>Value</th>
                        <th>Allowed</th>
                    </tr>
                    <tr><th colspan="3"></th></tr>
                    <tr><th colspan="3">RETRIEVE</th></tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(attribute, valuelist) in permissions.retrieve.allowed">
                        <td>{{attribute}}</td>
                        <td>
                            <table>
                                <thead style="visibility: hidden;">
                                    <tr>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="value in valuelist">
                                        <td>{{value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>Yes</td>
                    </tr>
                    <tr ng-repeat="(attribute, valuelist) in permissions.retrieve.denied">
                        <td>{{attribute}}</td>
                        <td>
                            <table>
                                <thead style="visibility: hidden;">
                                    <tr>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="value in valuelist">
                                        <td>{{value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>No</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <form ng-submit="evaluate(data)" ng-if="loggedIn == true">
            <div class="form-group">
                <label>Endpoint (is it accessible?)</label>
                <input style="color: black;" type="text" class="form-control" ng-model="data.res" placeholder="http://example.com/resource/*" required>
            </div>
            <button type="submit" class="btn btn-primary">
                Evaluate
                <span ng-if="evaluating == true">&nbsp;<i class="fa fa-refresh fa-spin"></i></span>
            </button>
        </form>
        <div ng-if="loggedIn == true">
            <br ng-if="gotEvaluation == true" />
            <p class="callout callout-danger" style="padding: 15px;" ng-if="getEvaluationError == true">Error {{getEvaluationResponse.data.code}}! {{getEvaluationResponse.data.message}}</p>
            <p class="callout callout-warning" style="padding: 15px;" ng-if="gotEvaluation == true && getEvaluationError == false && evaluationOk == false">
                Warning: no policy denying or allowing access to
                "<a ng-href="{{resource}}">{{resource}}</a>" for user "<a ng-href="#/security/users/details?name={{username}}">{{username}}</a>"!
                Fail-safe: access denied...
            </p>
            <p class="callout callout-danger" style="padding: 15px;" ng-if="getIdError == true">Error {{getIdResponse.data.code}}! {{getIdResponse.data.message}}</p>
            <div class="box" ng-if="gotEvaluation == true && getEvaluationError == false && evaluationOk == true">
                <div class="box-body no-padding">
                    <table class="table table-hover table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Action (on "<a ng-href="{{resource}}">{{resource}}</a>")</th>
                            <th>Permitted (for user "<a ng-href="#/security/users/details?name={{username}}">{{username}}</a>")</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(action, value) in evaluation.responses[0].actions">
                            <td>{{action}}</td>
                            <td ng-if="value == true">Yes</td>
                            <td ng-if="value == false">No</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box box-solid" ng-if="gotEvaluation == true && getEvaluationError == false && evaluationOk == true && (gotResContent == true || getting == true)" style="max-width: 100%;">
                <div class="box-header with-border">
                    <h3 class="box-title">Resource content (response body to GET request)</h3>
                </div>
                <div class="box-body">
                    <pre>{{resContent}}</pre>
                </div>
                <div class="overlay" ng-if="getting == true">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
</div>
